# Important Pandas Functions

Adapted from Wes McKinney's Python for Data Analysis and the Pandas Documentation

In [ ]:
import numpy as np
import pandas as pd

# Redefining the Index

If you need to change the index of a series or dataframe, you can just define the index to something new.

In [ ]:
original = pd.Series([1.4, 2.3, 3.1, 4.2], index = ['d','c','a','b'])

In [ ]:
original

In [ ]:
original['d':'a'] # can select values

In [ ]:
original.index  # the original index are the letters d,c,a,b in a list

In [ ]:
original.index = range(4) # I assign the range object to be the index

In [ ]:
original

In [ ]:
original.index # We can see this has automatically become a RangeIndex object

In [ ]:
original[1]

In [ ]:
original.loc[1] # behaves the same as above

In [ ]:
original.iloc[1] # behaves the same as above because the range index starts at 0

In [ ]:
original.index = range(1,5)

In [ ]:
original

In [ ]:
original[1]

In [ ]:
original.loc[1]

In [ ]:
original.iloc[1] # behavior is different because range index starts at 1

In [ ]:
original['a'] # throws an error because 'a' is no longer part of the index and cannot be used to select values

In [ ]:
original.index = ['a','b','c','d'] # be careful as no restrictions regarding the meaning of the index is applied.
# in the original 'a' was associated with 3.1. This index will associate it with 1.4

In [ ]:
original.index = [1,2, 3, 4, 5] # if the object you provide is of a different length, you get a value error

# Reindexing

Reindexing is different from just defining a new index.

Reindexing takes a current Pandas object and creates a *new* Pandas object that *conforms* to the specified index:

Do not confuse reindexing with creating a new index for a dataframe object.

In [ ]:
original = pd.Series([1.4, 2.3, 3.1, 4.2], index = ['d','c','a','b'])

In [ ]:
original

In [ ]:
newobj = original.reindex(['a','b','c','d','e']) # note this has an index value that doesn't exist in the original series

In [ ]:
newobj  # takes the data in orignal and moves it so it conforms to the specified index
# values that do not exist for the new index get NaN

In [ ]:
# if you don't want NaN, you can specify a fill_value
newobj2 = original.reindex(['a','b','c','d','e'], fill_value = 0)
newobj2

For ordered data like a time series, it might be desirable to fill values when reindexing

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 3, 6])
obj3

In [ ]:
obj3.reindex(range(9))  # without any optional arguments, lots of missing values

In [ ]:
obj3.reindex(range(9), method='ffill')
# forward-fill pushes values 'forward' until a new value is encountered

In [ ]:
obj3.reindex(range(9), method='bfill')  
# back-fill works in the opposite direction
# there was no value at index 8 so, NaNs get filled in

In [ ]:
# we specify the creation of a date_index using the date_range function
# freq = 'D' creates Daily values 
date_index = pd.date_range('1/1/2010', periods=6, freq='D')
date_index

In [ ]:
# we create a DataFrame with the date index
df2 = pd.DataFrame({"prices": [100, 101, np.nan, 100, 89, 88]}, index=date_index)
df2

In [ ]:
date_index2 = pd.date_range('12/29/2009', periods=10, freq='D')  # a new date index
df2.reindex(date_index2)

In [ ]:
df2.reindex(date_index2, method = 'bfill') 
# he jan 3 isn't filled in because that NaN was not created by the reindexing process
# The NaN already existed in the data.

## `.reindex()` vs `.loc()`

If you don't need to fill in any missing info, then .reindex() and .loc() work the same
If the new index will have values that don't exist in the current index, you need to use reindex

In [ ]:
obj5 = pd.DataFrame({'val':[1.4, 2.3, 3.1, 4.2]}, index = ['d','c','a','b'])
obj5

In [ ]:
obj5.reindex(['a','b','c','d'])

In [ ]:
obj5.loc[['a','b','c','d']] # works the same as reindex

In [ ]:
obj5.reindex(['a','b','c','d','e'])

In [ ]:
obj5.loc[['a','b','c','d','e']]  # .loc() returns a warning or error if you give an entry in the index that doesn't exist

# Dropping rows or columns

you can use `df.drop()` to remove rows (default) or columns (specify axis = 1) at certain index locations.

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(3,4), columns=['A', 'B', 'C', 'D'], index = ['a','b','c'])
df

In [ ]:
# drop rows
df.drop(['a', 'c'])

In [ ]:
# drop columns
df.drop(['B', 'C'], axis=1)

In [ ]:
# df.drop returns a new object and leaves df unchanged
# you can change this behavior with the argument inplace = True
df

# Data Alignment

When performing element-wise arithmetic, Pandas will align the index values before doing the computation

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s1

In [ ]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])
s2

In [ ]:
s1 + s2  # returns a new series, where the indexes are the union of the indexes of s1 and s2

In [ ]:
s1.add(s2)

In [ ]:
s1.add(s2, fill_value = 0)

In [ ]:
s1 * s2

In [ ]:
s1.multiply(s2, fill_value = 1)

For data frames with different columns, the rows and columns will be aligned

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df2

In [ ]:
df1 + df2 
# c is in df1, but not df2
# e is in df2, but not df1
# the result returns the union of columns, but will fill in NaN for elements that do not exist in both

In [ ]:
# if you want to fill in values that are missing, you can use df.add() and specify the fill_value
# this will perform the above operation, but instead of using NaN when it can't find a value 
# (which will return NaN),
# it will use the fill_value
df1.add(df2, fill_value = 0)
# you still get NaN if the value does not exist in either DataFrame

In [ ]:
# other arithmetic operations that can be called on DataFrames are:
# .add()
# .sub()
# .mul()
# .div()
# .floordiv()

# Summary Stats of a DataFrame

In [ ]:
df = pd.DataFrame({'one':[1.5,6.0,np.nan, 1.5,4,6, np.nan],
                   'two':[np.nan, -4.5, np.nan, -1.5, 0, -4.5, 4]},
                  index=['a', 'b', 'c', 'd','e','f','g'])
df

In [ ]:
df.sum()  # default behavior returns column sums and skips missing values
# default behavior sums across axis 0 (sums the row)

In [ ]:
df.sum(axis = 1) # sum across axis=1, sum across the columns and give row sums

In [ ]:
df.sum(skipna = False)

In [ ]:
df.mean()

In [ ]:
df.mean(axis = 1)

In [ ]:
df.idxmin()  # which row has the minimum value, also .idxmax()
# returns the first minimum, if there are multiple

In [ ]:
df.idxmax(axis = 1)

In [ ]:
df.one.unique()  # shows the unique values in the order observed

In [ ]:
df.two.unique()

In [ ]:
df.unique()  # unique can only be applied to a series (a column in a dataframe)

In [ ]:
df.one.nunique()  # number of non-missing unique values exist

In [ ]:
df.one.value_counts()  # tally up counts of each value
# returns a series. the index are the unique values observed, the values are the frequencies.
# they appear in descending order of frequency

In [ ]:
df.one.isin([1.5, 4.0]) # checks to see if the value has membership in a particular list
# returns a series with boolean values

In [ ]:
(df.one == 1.5) | (df.one == 4.0)  # must use bitwise or. .isin() is much prefered

In [ ]:
df.loc[  df.one.isin([1.5,4.0]),  ]  # can filter rows based on the .isin() membership

# filtering out missing values

In [ ]:
df

In [ ]:
df.dropna() # gets rid of any row that is not complete

In [ ]:
df.dropna(how = 'all')  # only drops rows that are entirely NaN

In [ ]:
# you can also use .notnull(), which is True for values that are not missing
df[df.two.notnull()]  # You can use this in conjuntion with specifying the column

# Filling in Missing Values

In [ ]:
df

In [ ]:
df.fillna(0) # fill in missing values with a constant

In [ ]:
df.fillna({'one': 1000, 'two': 0})  # use a dictionary to specify values to use for each column

In [ ]:
df.fillna(method = 'bfill')  # backfills. You can also use ffill

In [ ]:
df.mean()

In [ ]:
df.fillna(df.mean())  # fill na with df.mean() will fill in the column means

all of the above fillna methods have created new DataFrame objects. If you want to modify the current DataFrame, you can use the optional argument `inplace = True`

In [ ]:
df.T

In [ ]:
# apparently you can only fill missing values with dictionaries/series over a column 
# so we have to do some Transpose magic
df.T.fillna(df.T.mean()).T

# dealing with duplicates

In [ ]:
df

In [ ]:
df.duplicated()  # sees if any of the rows are a duplicate of an earlier row

In [ ]:
df[~df.duplicated()]  # gets rid of the duplicated rows

In [ ]:
df.one.duplicated()